{% macro createTree(parentID, tree) %}
    {% if tree[parentID] is defined %}
        <ul>
        {% for element in tree[parentID] %}
            <li>
                <a href="{{ path('advert_index', { 'idCategory' : element.id }) }}">{{ element.name }}</a>
                {{ _self.createTree(element.id, tree) }}
            </li>
        {% endfor %}  
        </ul>
    {% endif %}
{% endmacro %}

{{ _self.createTree(1, categoriesTree) }}

{% for advert in adverts %}
<div>
    {% if advert.negotiation == 1 %}
        {% set negotiation = 'Cena do negocjacji.' %}
    {% else %}
        {% set negotiation = 'Cena nie podlega negocjacji.' %}
    {% endif %}
    <div><a href="{{ path('advert_show', { 'idAdvert' : advert.id }) }}" >{{ advert.name }}</a> - {{ advert.price }}zł ({{ negotiation }})</div>
    <div>Data dodanie: {{ advert.date_added }}</div>
    <div>{{ advert.short_desc }}</div>
</div>
{% endfor %}