{% macro createTree(parentID, tree) %}
    {% if tree[parentID] is defined %}
        <ul>
        {% for element in tree[parentID] %}
            <li>
                <a href="{{ path('advert_index', { 'idCategory' : element.id }) }}">{{ element.name }}</a>
                {{ _self.createTree(element.id, tree) }}
            </li>
        {% endfor %}  
        </ul>
    {% endif %}
{% endmacro %}

{#{% macro createTree2(parent) %}
    {% if parent.childrens is defined %}
        <ul>
        {% for children in parent.childrens %}
            <li>
                <a href="{{ path('advert_index', { 'idCategory' : children.id }) }}">{{ children.name }}</a>
                {{ _self.createTree2(children) }}
            </li>
        {% endfor %}  
        </ul>
    {% endif %}
{% endmacro %}#}

{{ _self.createTree(25, categoriesTree) }}
{#{{ _self.createTree2(category) }}#}

{% for advert in adverts %}
<div>
    {% if advert.negotiation == 1 %}
        {% set negotiation = 'advert.index.negotiationtrue'|trans %}
    {% else %}
        {% set negotiation = 'advert.index.negotiationfalse'|trans %}
    {% endif %}
    <div><a href="{{ path('advert_show', { 'idAdvert' : advert.id }) }}" >{{ advert.name }}</a> - {{ advert.price }}zł ({{ negotiation }})</div>
    <div>Data dodanie: {{ advert.date_added }}</div>
    <div>{{ advert.short_desc }}</div>
</div>
{% endfor %}