<div>
    {% if advert.negotiation == 1 %}
        {% set negotiation = 'advert.show.negotiationtrue'|trans %}
    {% else %}
        {% set negotiation = 'advert.show.negotiationfalse'|trans %}
    {% endif %}
    <div>{{ advert.title }} - {{ advert.price }}zł ({{ negotiation }})</div>
    <div>Data dodanie: {{ advert.date_added }}</div>
    <div>{{ advert.description }}</div>
</div>